:root {
    --dark-black : #0C0910;
    --matte-black : #171717 ;
    --minimal-dark : #1C1C23 ;

    --dark-blue : #3F3FCB ;
    --minimal-blue : #5151CD ;

    --light-purple : #9B9BEC ;
    --minimal-purple : #7777E1 ;

    --white : #FFFFFF;
    --minimal-white : #EBEBEB ;
    --gray : #BFBFBF ;

    --red-dot : #D90007 ;
    --yellow-dot : #E8E100 ;
    --green-dot : #0ED800 ;

    --home-gradient : linear-gradient(45deg, var(--dark-black), #1C1820);
    --sidebar-gradient : linear-gradient(to bottom, #1C1C27, #1F1F27);

    --sidebar-border : #403F3F ; 
}