/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
    --dark-black : #0C0910;
    --matte-black : #171717 ;
    --minimal-dark : #1C1C23 ;

    --dark-blue : #3F3FCB ;
    --minimal-blue : #5151CD ;
    --prety-blue : rgb(102, 0, 255) ;
    
    --light-purple : #9B9BEC ;
    --minimal-purple : #7777E1 ;

    --white : #FFFFFF;
    --minimal-white : #EBEBEB ;
    --gray : #BFBFBF ;

    --red-dot : #D90007 ;
    --yellow-dot : #E8E100 ;
    --green-dot : #0ED800 ;

    --home-gradient : linear-gradient(45deg, var(--dark-black), #1C1820);
    --sidebar-gradient : linear-gradient(to bottom, #1C1C27, #1F1F27);

    --light-border : #403F3F ; 
    --tool-border  :  rgba(102, 0, 255, 0.3) ;
    --tool-progress : rgba(102, 0, 255, 0.6) ;
     
    --tool-shadow : rgba(0, 0, 0, 0.6);
}
body {
    font-family: 'Varela Round', sans-serif;
}