.image-preview {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 1px groove var(--prety-blue);
    box-shadow:  5px 5px 10px #0e0c10,
             -5px -5px 10px #1e1a24;
}
.main-image {
    width: 100%;
    height: 100%;
}
.main-image img {
    width: 100%;
    height: 100%;
}
.preview-image-box {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.preview-image-box img {
    width: 812.51px;
    height: 100%;
}
.preview-border {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: var(--prety-blue);
    filter: brightness(0.5);
    transition: .3s;
    z-index: 999;
    cursor: e-resize;
}
.preview-border:hover {
    filter: brightness(1);
}