@import url(../../components/aside/aside.css);
/* ! ---------------------------------- aside --------------------------------- ! */
.sidebar {
    left : 0;
    top: 0;
    border-radius: 0;
    height: 100%;
    border: none;
    animation: none;
}
.sidebar::before {
    animation-delay: 0s;
}
/* ! ---------------------------------- body ---------------------------------- ! */
body {
    background : var(--home-gradient) ;
    position: relative;
    display: flex;
    perspective: 1000px;
    perspective-origin: left;
    overflow-x: hidden;
    height: 100vh;
}
/* ! ---------------------------------- wrap ---------------------------------- ! */
.wrap {
    display: flex;
    width: 100%;
}
.wrap-left-box {
    width: 100%;
    /* background: #000; */
    /* opacity: 0.5; */
    margin-left: 100px;
}
.wrap-right-box {
    width: 500px;
}
/* ! --------------------------------- pannel --------------------------------- ! */
.pannel {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--sidebar-gradient);
    border-left: 1px solid var(--light-border);
    overflow: hidden;
    z-index: 9999;
}
.pannel::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 530px;
    background-image: url(../img/pannel/pannel_back/pannel_back.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
/* ! ------------------------------ pannel header ----------------------------- ! */
.header-pannel-heading {
    font-weight: bolder;
    text-transform: capitalize;
    color: var(--white);
    font-size: 25px;
}
.header-pannel-heading-icon {
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
}
/* ! --------------------------- component selector --------------------------- ! */
.component-selector-wrap {
    position: relative;
}
.component-selector-box {
    background: var(--black-blue) ;
    color: var(--d-white);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
}
.component-selector-dropdown-box {
    position: absolute;
    top: 45px;
    right: 0;
    border-radius: 5px;
    width: 100%;
    background: var(--black-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: hidden;
    transition: all 0.5s;
    transform : translateY(-10px);
    opacity: 0;
    visibility: hidden;
}
.component-selector-dropdown-item {
    padding: 8px 10px;
    color: var(--minimal-white);
    transition: background .5s , color .5s;
    cursor: pointer;
    text-transform: capitalize;
}
.component-selector-dropdown-item:hover:not(.component-selector-dropdown-item.active) {
    background-color: var(--minimal-white);
    color: var(--dark-black);
    font-weight: bolder;
}
.component-selector-dropdown-item.active {
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: bolder;
}
.component-selector-box.active ~ .component-selector-dropdown-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
/* ! ------------------------ element class name input ------------------------ ! */
.element-class-name-input {
    color: var(--white) !important;
}
.element-class-name-input::placeholder {
    color: var(--gray) !important;
    text-transform: capitalize;
    font-weight: bolder;
}
.element-class-name-text-icon {
    color: var(--white);
}
/* ! ------------------------------- type effect ------------------------------ ! */
.type-effect {
    color: var(--white);
    text-transform: capitalize;
}
.type-effect-icon {
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}
/* ! ----------------------------- properties box ----------------------------- ! */
.peroperties-input {
    color: var(--white) !important;
}
.peroperties-input::placeholder {
    color: var(--gray) !important;
    text-transform: capitalize;
}
/* ! ------------------------------ color picker ------------------------------ ! */
.color-picker-box {
    margin-top: 30px;
}
.choose-color-picker-text {
    color: var(--minimal-white);
    font-size: 18px;
}
.color-picker-tool {
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
}
/* ! ------------------------------ footer pannel ----------------------------- ! */
.css-code-btn {
    width: 100%;
    border-radius: 5px;
    background-color: var(--prety-blue);
    color: var(--white);
    box-shadow:  5px 5px 10px #1b1b23,
             -5px -5px 10px #21212b;
    padding: 10px 0;
    font-size: 17px;
}