@import url(../../components/aside/aside.css);

body {
    background : var(--home-gradient) ;
    position: relative;
    height: 100vh;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/triangle/triangle.png) ;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    z-index: -1;
}