@import url(../../components/custom/custom.css);

body {
    background : var(--home-gradient) ;
    position: relative;
    display: flex;
}
/* ! -------------------------------- triangle -------------------------------- ! */
.trianlge {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 80%;
    z-index: -1;
}
.trianlge img {
    width: 100%;
    height: 100%;
}
/* ! ---------------------------------- wrap ---------------------------------- ! */
.wrap {
    width: 100%;
}
/* ! --------------------------------- header --------------------------------- ! */
.header {
    margin-top: 85px;
}
.main-title {
    text-transform: capitalize;
    font-size: 4rem;
    color: var(--white);
}
.main-title-desc {
    font-size: 2rem;
    color: var(--minimal-white);
    text-transform: capitalize;
}
.main-title-desc i {
    font-size: 1.8rem;
}
.search-box {
    margin-top: 20px;
}
.search-box-group {
    width: 40%;
    box-shadow: 0 0 5px var(--dark-black);
    border-radius: 25px;
    overflow: hidden;
}
.search-input {
    padding: 0 !important;
    outline: none;
    border-radius: 0 25px 25px 0 ;
    border-top: var(--light-border) 1px solid !important;
    border-right: var(--light-border) 1px solid !important;
    border-bottom: var(--light-border) 1px solid !important;
    border-left: none;
    background-color: var(--matte-black) !important;
    color: var(--gray) !important;
    font-size: 1.1rem;
    box-shadow: none !important;
}
.search-group-icon {
    border-top: var(--light-border) 1px solid;
    border-left: var(--light-border) 1px solid;
    border-bottom: var(--light-border) 1px solid;
    border-right: none !important;
    border-radius: 25px 0 0 25px;
    padding-left: 20px !important;
    background-color: var(--matte-black);
    color: var(--gray);
}
.search-btn {
    border: none;
    outline: none;
    padding: 10px 25px;
    margin-left: 10px;
    border-radius: 40px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    text-transform: capitalize;
    font-size: 1.3rem;
    transition: .3s;
    box-shadow: 0 0 10px var(--dark-black);
}
.search-btn:hover {
    background-color: var(--prety-blue);
    color: var(--minimal-white);
}
/* ! ---------------------------------- main ---------------------------------- ! */
.main-tool-wrap {
    margin-top: 50px;
    padding-bottom: 50px;
}
.tools-wrap {
    width: 80%;
    display: flex;
    justify-content: center;
}
.tools-row-box {
    width: 80%;
}
.tools-row-box:not(:first-child) {
    margin-top: 40px;
}
.tools-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,240px);
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    flex-wrap: wrap;
}
.tools-row-title {
    color: var(--minimal-white);
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 1.6rem;
}
.tool-box {
    padding: 0;
}
.tool-box-button {
    width: 240px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 15px 0;
    background-color : var(--matte-black) ;
    border: 1px groove var(--tool-border) ;
    color: var(--white) !important;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    box-shadow:  0 4px 10px var(--tool-shadow);
    transition: transform .3s , border .5s ease-in;
    text-transform: capitalize;
    text-decoration: none;
}
.tool-box-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7px;
    background: var(--matte-black);
    filter: brightness(70%);
}
.tool-box-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 7px;
    background-color: var(--tool-progress);
    z-index: 1;
    transition: .5s ease-in;
}
.tool-box-button:hover {
    transform: scale(1.09);
    border: 1px solid var(--prety-blue);
}
.tool-box-button:hover::after {
    width: 100%;
}
.tool-box-button span {
    margin-right: 12px;
}
/* ! ------------------------------- media query ------------------------------ ! */
@media screen and ( max-width : 1400px ) {
    .tools-row-box {
        width: 100%;
    }
    .tools-row {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and ( max-width : 1200px ) {
    .tools-row {
        grid-column-gap: 10px;
        justify-content: flex-start;
    }
}
@media screen and ( max-width : 992px ) {
    .tools-row {
        grid-column-gap: 0;
        justify-content: space-between;
    }
}
@media screen and ( max-width : 768px ) {
    .tools-row-box {
        text-align: center;
    }
    .tools-row {
        justify-content: center;
    }
}
@media screen and (min-width : 1400px) {
    .trianlge {
        width: 80%;
        height: 100%;
    }
}
@media screen and (min-width : 1460px) {
    .trianlge {
        width: 70%;
        height: 100%;
    }
}
@media screen and (max-width : 1200px) {
    .trianlge {
        width: 70%;
    }
}
@media screen and (max-width : 992px) {
    .trianlge {
        width: 80%;
    }
}
@media screen and (max-width : 575px) {
    .trianlge {
        height: 50%;
    }
}
@media screen and (max-width : 440px) {
    .main-title {
        font-size: 3rem;
    }
    .main-title-desc {
        font-size: 25px;
    }
    .main-title-desc i {
        font-size: 20px;
    }
}
@media screen and (max-width : 992px) {
    .search-box-group {
        width: 50%;
    }
}
@media screen and (max-width : 560px) {
    .search-box-group {
        width: 60%;
    }
}
@media screen and (max-width : 440px) {
    .search-btn {
        display: none;
    }
    .search-input {
        padding: 10px !important;
    }
    .search-box-group {
        width: 80%;
    }
}