@import url(../../components/aside/aside.css);
/* ! ---------------------------------- body ---------------------------------- ! */
body {
    background : var(--home-gradient) ;
    position: relative;
    display: flex;
    overflow-x: hidden;
    height: 100vh;
}
/* ! ---------------------------------- wrap ---------------------------------- ! */
.wrap {
    display: flex;
    width: 100%;
}
.wrap-left-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.wrap-right-box {
    width: 500px;
}
/* ! --------------------------------- pannel --------------------------------- wrap right box ! */
.pannel {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--sidebar-gradient);
    border-left: 1px solid var(--light-border);
    overflow: hidden;
    z-index: 9999;
}
.pannel::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 530px;
    background-image: url(../img/pannel/pannel_back/pannel_back.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
/* ! ------------------------------ pannel header ----------------------------- ! */
.header-pannel-heading {
    font-weight: bolder;
    text-transform: capitalize;
    color: var(--white);
    font-size: 25px;
}
.header-pannel-heading-icon {
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
}
/* ! ------------------------ element class name input ------------------------ ! */
.element-class-name-input {
    color: var(--white) !important;
}
.element-class-name-input::placeholder {
    color: var(--gray) !important;
    text-transform: capitalize;
    font-weight: bolder;
}
.element-class-name-text-icon {
    color: var(--white);
}
/* ! ------------------------------- translateY ------------------------------- ! */
.translateX-text {
    color: var(--white);
    text-transform: capitalize;
}
.translateX-icon {
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}
.translateX-box, .translateY-box {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 3px;
    background: var(--dark-black);
    cursor: pointer;
    padding: 20px 13px;
    color: var(--white);
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.translateY-box {
    margin-bottom: 20px;
}
.translateX-box.active, .translateY-box.active {
    background: var(--white);
    color: var(--prety-blue);
    font-weight: bolder;
}
/* ! ----------------------------- properties box ----------------------------- ! */
.property-box {
    width: 318px;
    overflow: hidden;
}
.properties-translateX-box , .properties-translateY-box {
    width: 100%;
    transition: 0.4s;
}
.properties-input {
    color: var(--white) !important;
}
.properties-input::placeholder {
    color: var(--gray) !important;
    text-transform: capitalize;
}
/* ! ------------------------------ footer pannel ----------------------------- ! */
.css-code-btn {
    width: 100%;
    border-radius: 5px;
    background-color: var(--prety-blue);
    color: var(--white);
    padding: 10px 0;
    font-size: 17px;
}
/* ! ------------------------------ generate box ------------------------------ ! */
.generate-wrap-box {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.generate-wrap-box.active {
    visibility: visible;
}
.generate-wrap-box::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--one-c-dark);
    opacity: 0.5;
}
.generate-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: var(--one-c-dark);
    z-index: 10;
    transition: 0.5s;
}
.generate-wrap-box.active .generate-box {
    height: 73%;
}
/* ! --------------------------- resizable container -------------------------- ! wrap left box */
.resizable-container {
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.resizable {
    background: var(--prety-blue);
    width: 250px;
    height: 250px;
    border-radius: 0;
    position: relative;
    border-radius: 50px;
    border: 1px solid var(--light-border);
    min-width: 100px;
    min-height: 100px;
    max-height: 350px;
    max-width: 350px;
    transition : transform .3s ;
}
.resizable .resizers {
    width: 100%;
    height: 100%;
    border: 2px solid var(--d-white);
    border-radius: 0;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s linear;
}
.resizable .resizers .resizer {
    width: 13px;
    height: 13px;
    background: var(--prety-blue);
    border-radius: 100%;
    border: 2px solid var(--d-white);
    position: absolute;
}
.resizable .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize; 
}
.resizable .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}
.resizers.active {
    opacity: 1;
    visibility: visible;
}
.resizable:hover .resizers {
    opacity: 1;
    visibility: visible;
}