@import url(/public/components/aside/aside.css);
/* ! ---------------------------------- body ---------------------------------- ! */
body {
    background : var(--home-gradient) ;
    position: relative;
    display: flex;
    overflow-x: hidden;
    height: 100vh;
}
/* ! ---------------------------------- wrap ---------------------------------- ! */
.wrap {
    display: flex;
    width: 100%;
}
.wrap-left-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.wrap-right-box {
    width: 500px;
}
/* ! --------------------------------- pannel --------------------------------- wrap right box ! */
.pannel {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--sidebar-gradient);
    border-left: 1px solid var(--light-border);
    overflow: hidden;
    z-index: 9999;
}
.pannel::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 530px;
    background-image: url(/public/content/img/pannel/pannel_back/pannel_back.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
/* ! ------------------------------ pannel header ----------------------------- ! */
.header-pannel-heading {
    font-weight: bolder;
    text-transform: capitalize;
    color: var(--white);
    font-size: 25px;
}
.header-pannel-heading-icon {
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
}
/* ! ------------------------ element class name input ------------------------ ! */
.element-class-name-input {
    color: var(--white) !important;
}
.element-class-name-input::placeholder {
    color: var(--gray) !important;
    text-transform: capitalize;
    font-weight: bolder;
}
.element-class-name-text-icon {
    color: var(--white);
}
/* ! ----------------------------- decoration box ----------------------------- ! */
.decoration-container {
    position: relative;
}
.decoration-box {
    width: 100%;
    background: var(--dark-black);
    padding: 8px 10px;
    border-radius: 3px;
    color: var(--d-white);
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}
.decoration-container:hover .decoration-box {
    color: var(--white);
    background-color: var(--black-blue);
}
.decoration-menu-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    z-index: 9999;
    border-radius: 5px;
    overflow-x: hidden;
    background-color: var(--dark-black);
    border: 1px solid var(--light-border);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.decoration-menu-item-box {
    color: var(--d-white);
    padding: 8px 10px;
    text-transform: capitalize;
    transition: 0.3s;
    cursor: pointer;
}
.decoration-menu-item-box:hover {
    background: var(--dark-blue);
}
.decoration-box.active ~ .decoration-menu-box {
    transform: translateY(50px);
    visibility: visible;
    opacity: 1;
}
.decoration-box-flash {
    transition: 0.4s;
}
.decoration-box.active .decoration-box-flash {
    transform: rotate(180deg);
}
.decoration-menu-item-box.active {
    background-color: var(--minimal-white);
    color: var(--dark-black);
    font-weight: bolder;
}
/* ! ------------------------------- properties ------------------------------- ! */
.properties-title {
    color: var(--white);
    text-transform: capitalize;
}
.properties-input {
    color: var(--white) !important;
}
.properties-input::placeholder {
    color: var(--gray) !important;
    text-transform: capitalize;
}
/* ! ------------------------------ color picker ------------------------------ ! */
.color-picker-box {
    margin-top: 20px;
}
.color-picker {
    width: 80px;
    height: 35px;
    border-radius: 3px;
    border : none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    border : 1px solid var(--light-border);
    background : var(--white);
}
.choose-color-picker-text {
    color: var(--minimal-white);
    font-size: 18px;
}
/* ! ------------------------------ footer pannel ----------------------------- ! */
.css-code-btn {
    width: 100%;
    margin-top: 50px;
    border-radius: 5px;
    background-color: var(--prety-blue);
    color: var(--white);
    padding: 10px 0;
    font-size: 17px;
}
/* ! ------------------------------ generate box ------------------------------ ! */
.generate-wrap-box {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.generate-wrap-box.active {
    visibility: visible;
}
.generate-wrap-box::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--one-c-dark);
    opacity: 0.5;
}
.generate-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: var(--one-c-dark);
    z-index: 10;
    transition: 0.5s;
}
.generate-wrap-box.active .generate-box {
    height: 73%;
}
/* ! --------------------------- resizable container -------------------------- ! wrap left box */
.text-container {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text {
    font-size: 4rem;    
    color: var(--white);
    text-transform: capitalize;
    text-align: center;
    /* text-decoration: solid underline 1px red; */
}